---
import Layout from '../layouts/Layout.astro';

import CardProject from '../components/CardProject.astro';

import me01 from '../assets/portfolio/me-01.jpg';
import married01 from '../assets/portfolio/boda-01.jpg';
import landscape01 from '../assets/portfolio/landscape-01.jpg';
import portrait01 from '../assets/portfolio/portrait-01.jpg';
import product01 from '../assets/portfolio/product-01.jpg';
import signature from '../assets/portfolio/signature.png';
---

<Layout title="José Angel Silva - Portafolio">
  <!--  SECONDARY WRAP  -->
  <div class="photolane_fn_secondary_wrap">
    <div class="photolane_fn_secondary_wrap_in">
      <!-- PHOTOGRAPHER IMAGE AND INFO -->
      <div class="container">
        <div class="photer_box">
          <div class="photer_img">
            <!-- <Image src={me01}
              alt="Jose Silva picture profile"
              decoding="async"
              loading="lazy"
              width="728"/> -->

            <img src={me01.src} alt="Jose Silva picture profile" />
            <div class="overlay"></div>

            <div class="title_holder">
              <div class="title_holder_in">
                <h3>José Angel Silva</h3>
                <span>Fotógrafo</span>
              </div>
            </div>
          </div>

          <div class="photer_full_info">
            <h3>
              Una <em>fotográfia</em> es un instante de vida capturado
              para la eternidad.
            </h3>
            <p>
              Hola, soy José Angel Silva un fotográfo joven y entusiasta
              residente en Barcelona, Venezuela. Siempre me ha fascinado
              el poder de la fotografía para contar historias, evocar
              emociones, y capturar momentos precisos de la vida.
            </p>
            <div class="social_icons">
              <ul>
                <li>
                  <a href="https://wa.me/584129680070" target="_blank"
                    ><i class="xcon-mail"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.instagram.com/joseasilva94/"
                    target="_blank"
                  >
                    <i class="xcon-instagram"> </i
                  ></a>
                </li>
              </ul>
            </div>
            <div class="clearfix"></div>
            <a
              href="https://wa.me/584129680070"
              target="_blank"
              class="photolane_fn_btn"
              data-position=""
              data-size=""
              data-text-color="black"
              data-bg-color="transparent"
              data-border-color="beige"
            >
              Contáctame
            </a>
          </div>
        </div>
      </div>
      <!-- PHOTOGRAPHER IMAGE AND INFO -->

      <!-- PHOTOGRAPHER KNOWLEDGE -->
      <div class="container">
        <div class="photer_knowledge photolane_fn_masonry">
          <div class="title_holder photolane_fn_masonry_in">
            <h1>01.</h1>
            <h2>Fotografía de<br />Retratos</h2>
            <span>
              Retratos glamurizados, familiares y celebraciones
              importantes (noviazgos, graduaciones, etc.).
            </span>
          </div>
          <div class="title_holder photolane_fn_masonry_in">
            <h1>02.</h1>
            <h2>
              Fotografía de<br />
              Eventos
            </h2>
            <span
              >Cubrimiento de conferencias, fiestas y eventos especiales
              con atención al detalle y fantasía narrativa.</span
            >
          </div>
          <div class="title_holder photolane_fn_masonry_in">
            <h1>03.</h1>
            <h2>Fotografía de Estilo de Vida</h2>
            <span
              >Documentación de la vida diaria, viajes y aventuras de
              manera que cuente tu historia única.</span
            >
          </div>
        </div>
      </div>
      <!-- PHOTOGRAPHER KNOWLEDGE -->

      <div class="photolane_fn_secondary_wrap">
        <div class="about_msg">
          <div class="container">
            <p>
              Algunos escriben <em>vida</em> en hojas, Yo la escribo en
              <em>fotos</em>.
            </p>
          </div>
          <div class="overlay">
            <div class="overlay_color"></div>
          </div>
        </div>
      </div>

      <!-- PROJECT LIST -->
      <div class="container">
        <div class="aaaabbbb">
          <ul class="project_list">
            <li>
              <CardProject
                title="Bodas"
                imageUrl={married01}
                redirectUrl="/proyectos/bodas"
              />
            </li>
            <li>
              <CardProject
                title="Retratos"
                imageUrl={portrait01}
                redirectUrl="/proyectos/retratos"
              />
            </li>
            <li>
              <CardProject
                title="Productos"
                imageUrl={product01}
                redirectUrl="/proyectos/productos"
              />
            </li>
            <li>
              <CardProject
                title="Paisajes"
                imageUrl={landscape01}
                redirectUrl="/proyectos/paisajes"
              />
            </li>
          </ul>

          <div class="clearfix"></div>

          <div class="view_all">
            <a href="/proyectos/">
              Ver todos los proyectos
              <i class="xcon-angle-right"></i
            ></a>
          </div>
        </div>
      </div>
      <!-- /PROJECT LIST -->

      <!-- FULL CONTAINER -->
      <div
        class="photolane_fn_full_width_container"
        data-padding-top=""
        data-padding-bottom="150px"
      >
        <div class="content_holder" data-text-color="">
          <p>
            ¡Muchas gracias por visitarme! Si tienes alguna pregunta no
            dudes en contactarme.
          </p>
          <img src={signature.src} alt="" width="250" />
          <!-- <h3>José Angel Silva</h3>
          <span>Fotógrafo</span> -->
        </div>
        <div class="background_holder">
          <div class="bg_img" data-speed=""></div>
          <div class="bg_video" data-speed=""></div>
          <div class="bg_color" data-color="" data-opacity=""></div>
        </div>
      </div>
      <!-- FULL CONTAINER -->
    </div>
  </div>
  <!--  /SECONDARY WRAP  -->
</Layout>
